:root {
  --col-top: 0;
  --col-position: relative;
  --v-position: absolute;
  --v-width: 0;
  --v-top: 0;
}

.pt-left-col,
.pt-right-col {
  position: var(--col-position);
  top: var(--col-top);
}

.v-container {
  position: var(--v-position) !important;
  top: var(--v-top);
  width: var(--v-width);
  z-index: 1000;
  transition: none !important;
  border-radius: 6px !important;
}